* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.board {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.squares {
  flex: 1 1 calc(100% / 5);
}
